.btn {
    margin-left: 43.2%;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .btn {
        margin-left: 40.8%;
    }
  }

  @media screen and (max-width: 426px) {
    .btn {
        margin-left: 36%;
    }
  }