.nav {
    background: var(--color-primary);
    color: #000;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.nav img {
    height: 30px;
}