* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #B3FFFF;
  --color-secondary: #FCFCD4;
  --color-button: #00AAB0;
  --color-headings: #1b0760;
  --color-border: #ccc;
  --color-body: #ededed;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-body);
  font-size: 24px;
  line-height: 1.5;
  color: var(--color-headings);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 10px;
  line-height: 1.1;
}

h2 {
  font-size: 40px;
}

p {
  margin-top: 0;
}

/* Blocks */
.block {
  --padding-vertical: 60px;
  padding: var(--padding-vertical) 20px;
}

.block__header {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  
}

/* Domain Block */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 40px auto;
  max-width: 670px;

}